@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes expand {
    0% {width: min(50vh,50vw);;}
    100% {width: min(100vh,100vw);;}
}

@font-face {
    font-family: Rounded;
    src: url('./Typo_Round_Bold_Demo.otf') format("opentype");
}

html, body {
    font-family: Rounded;
    user-select: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    > div {
        margin: auto;
        display: none;
        opacity: 0;
    }
}



#animate {
    display: flex;
    width: min(50vh,50vw);
    height: min(50vh,50vw);
    background-image: url(../media/enderchest.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    font-size: min(5vh,5vw);

    > h1 {
        margin: auto;
        margin-right: 0;
        opacity: 0;
        &.show{
            animation: fadein 0.2s forwards 0.15s cubic-bezier(.57,.18,.76,.92);
        }
    }

    &.show {
        display: flex;
        animation: fadein 0.3s forwards 0.5s ease;
        &.expand {
            opacity: 1;
            animation: expand 0.5s forwards 0.2s cubic-bezier(.25,.43,0,1);
        }
    }
}

#badges {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
    display: flex;
    $height: min(5vh,10vw);
    height: $height;
    width: min-content;
    &.show {
        animation: fadein 0.5s forwards 0.2s ease;
    }
    span {
        margin: auto;
        font-size: calc(min(5vh,10vw) - 1vw);
    }
    img {
        margin: auto;
        height: $height;
    }
}

#loaded {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}