@use "../main/main.scss";

body {
    display: flex;
    width: 100%;
    overflow: hidden;

    #content {
        margin: auto;

        h1 {
            display: flex;
            margin: 0;
            font-size: min(5em,16vw);
            img {
                height: 1.5em;
            }
        }

        #buttons {
            margin-top: 2em;
            display: grid;
            * {
                margin-inline: auto;
                &:not(:nth-child(1)) {
                    margin-top: 1em;
                }
                width: min(90vw,20em);
            }
        }
    }
}