@use "../main/main.scss" as *;

$ctx-padding: 0.2em;

#contexts {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;

    >div {
        display: flex;
        min-width: 3em;
        position: fixed;
        background-color: $level2;
        padding: $ctx-padding;
        border-radius: 5px;
        flex-direction: column;
        outline: black solid 1px;

        * {
            margin: 0;
        }

        button {
            text-align: left;
            box-shadow: none;
            border-radius: 3px;
        }
    }
}

button.ctx-sub-menu {
    display: flex;
    text-align: left;
    padding-right: $ctx-padding;

    &::after {
        content: '>';
        font-family: monospace;
        margin-left: auto;
    }
}
