@use "../main/main.scss" as *;

#context {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;

    div {
        display: grid;
        min-width: 3em;
        position: fixed;
        background-color: $level2;
        padding: 3px;
        border-radius: 5px;

        * {
            margin: 0;
        }
        button {
            box-shadow: none;
            border-radius: 3px;
        }
    }
}