$level3: #616161;
$level2: #343533;
$level1: #252525;
$level0: #121212;

$color1: #00ffff;

/* animations */
@keyframes snackbarout {
    0% {opacity: 1; right: 0px;}
    100% {opacity: 0; scale: 0.9; right: 80px;}
}
@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes shrink {
    0% {scale: inherit;}
    100% {scale: 0;}
}
@keyframes slidein {
    0% {bottom: 60%;}
    100% {bottom: 0%;}
}

@keyframes fadepulse {
    0% {opacity: 0.25;}
    100% {opacity: 0.75;}
}

.fadepulse {
    animation: fadepulse 1s infinite alternate ease-in-out;
}

/* main */
html,body {
    background-color: $level0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 0;
    min-width: 100%;
    min-height: 100vh;
    padding: 0px;
    width: fit-content;
    height: fit-content;
}
button,input {
    border-color: #736b5e;
    color: #e8e6e3;
    background-color: #181a1b;
    cursor: pointer;
    border: none;
    font-size: 16px;
    box-shadow: #0009 3px 3px 10px;
    padding: 5px;
}

/* buttons */
.bigbutton{
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    box-shadow: #0009 2px 2px 10px;
    text-decoration: none;
    transition: 0.1s;
    border-radius: 5px / 2px;
    &:hover {
        transform: scaleX(1.05);
    }
    &:disabled{
        transform: initial;
        filter: brightness(0.8);
        cursor: not-allowed;
    }
}

/* header */
#header {
    background-color: $level1;
    margin: 0;
    width: 100vw;
    margin-top: 0;
    padding: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: #0009 10px 10px 30px;
    display: flex;
}

/* menus */
#menus {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    .background {
        animation: fadein 0.2s forwards ease-in-out;
        position: fixed;
        user-select: auto;
        pointer-events: initial;
        padding-top: 5vh;
        background-color: #00000075;
        width: 100%;
        height: 100%;
        &.fade {
            animation: fadeout 0.2s forwards ease-in;
            & > div {
                animation: shrink 0.2s forwards ease-in;
            }
        }
        & > div {
            position: relative;
            animation: slidein 0.2s forwards ease-out;
            box-shadow: #000 5px 5px 2px;
            border-radius: 12px;
            padding: 40px 60px 42px 50px;
            min-width: 500px;
            margin: auto;
            width: fit-content;
            background-color: #333;
            > h1 {
                margin-top: 0;
            }
        }
    }
}

/* snackbar css */
#snackbars {
    position: fixed;
    bottom: 3%;
    z-index: 10;
    width: 100%;
    display: grid;
    > span {
        box-shadow: #000 6px 6px 6px;
        width: min(20%,90vw);
        min-width: min(500px,100vw);
        background-color: $level3;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        margin: auto;
        word-wrap: break-word;
        margin-top: 5px;
        user-select: none;
        position: relative;
        &.snackbarout {
            animation: snackbarout 0.5s 1;
        }
        &.snackbartime {
            animation: fadeout 0.8s 1;
        }
    }
}

#mouseinfo {
    display: grid;
    position: fixed;
    z-index: 11;
    padding: 5px;
    user-select: none;
    border-radius: 5px;
    background-color: $level3;
    box-shadow: #000 3px 3px 3px;
    display: none;
}