/* animations */
@keyframes snackbarout {
    0% {opacity: 1; right: 0px;}
    100% {opacity: 0; scale: 0.9; right: 80px;}
}
@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/* main */
html,body {
    background-color: #101010;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 0;
    min-width: 100%;
    min-height: 100vh;
    padding: 0px;
}
button,input {
    border-color: #736b5e;
    color: #e8e6e3;
    background-color: #181a1b;
}

/* buttons */
.bigbutton{
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.1s;
    border-radius: 5px / 2px;
}
.bigbutton:hover {
    transform: scaleX(1.05);
}
.bigbutton:disabled{
    transform: initial;
    filter: brightness(0.8);
    cursor: not-allowed;
}

/* header */
#header {
    background-color: #000;
    margin: 0;
    width: 100;
    margin-top: 0;
    padding: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow: #000 10;
    display: flex;
}

/* snackbar css */
#snackbars {
    position: fixed;
    bottom: 3%;
    z-index: 10;
    width: 100%;
    display: grid;
}
#snackbars > span {
    width: 20%;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
    margin-top: 5px;
    user-select: none;
    position: relative;
}
.snackbarout {
    animation: snackbarout 0.5s 1;
}
.snackbartime {
    animation: fadeout 0.8s 1;
}

/* menus */
#menus {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
.background {
    position: fixed;
    user-select: auto;
    pointer-events: initial;
    padding-top: 90px;
    background-color: #0005;
    width: 100%;
    height: 100%;
}
.background > div {
    border: #000 #666 20px;
    border-radius: 12px;
    padding: 45px;
    margin: auto;
    width: fit-content;
    background-color: #333;
}



@media only screen and (max-width: 600px) {
    #snackbars > span {width: 90%;}
}